.healthPriority {
    background-image: url('../../../src/assets/home-background-bw.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.healthPriority h4 {
    margin: 0;
}

.layer {
    background-color: black !important;
    position: absolute;

}

.doctorName {
    font-size: 50px !important;
    font-family: "Lobster Two", sans-serif !important;
}

.yourHealthContainer {
    padding-top: 0 !important;
    margin-top: 0 !important;
    padding: 10px 10px !important;
    color: white;
    display: none;
}

.slider img {
    width: 120px !important;
    height: 120px !important;
}












/* !    MEDIIA SCREEN */
@media only screen and (max-width: 425px) {
    .doctorName {
        font-size: 40px !important;
    }

    .contact-us-info {
        display: block;
    }
}


/* Styles for screens smaller than or equal to 600px */
@media only screen and (max-width: 600px) {
    .yourHealthContainer div {
        padding: 10px 10px !important;
    }

    .doctorName {
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 900px) {
    .home-certificates {
        display: none !important;
    }

    .yourHealthContainer {
        display: block !important;
    }
}


@media (min-width: 901px) {}