@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@700&display=swap');



:root {
  --navy-blue: #242837 !important;
}

* {
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--navy-blue) !important;
  color: #fff !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sectionHeader {
  background: var(--navy-blue);
}

.main-color {
  color: #29CBBC !important;
}

.navy-btn {
  background-color: var(--navy-blue);
  border: 0;
  border-radius: 5px;
  padding: 10px 20px !important;
  color: #fff;
}

.navy-btn:hover {
  background-color: #131a32;
  color: #fff;
}

.blue-color {
  color: #3689c5 !important;
}

.blue-background {
  background-color: #3689c5 !important;
}

.navy-background {
  background-color: #152031 !important;
}

.blue-btn:hover {
  background-color: #152031 !important;
}

.main-font {
  font-family: 'Tajawal', sans-serif;
}

.secondary-font {
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
  margin: 0 !important;
}

p {
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
}

li {
  margin: 10px
}